# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Android
.gradle/
local.properties
**/android/key.properties
*.jks

# iOS
ios/Pods/
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# macOS, Windows, Linux ephemeral
**/ephemeral/
**/GeneratedPluginRegistrant.*

# Misc
*.log
coverage/
.flutter-plugins
.flutter-plugins-dependencies
